<div class="container-fluid-lg">
    <div class="p-3 mb-2 bg-success  text-white ">
        <div class="row text-center">
            <div class="col-md-3">
                <p class="text-center border"> Vaishnavi Summit , Ground Floor, 7th Main, 80 Feet Road, 3rd Block,</p>
            </div>
            <div class="col-md-6">
                <marquee width="60%" direction="up" height="80px" scrollamount="3">
                    Welcome to FastKart
                </marquee>
            </div>
            <div class="col-md-3">
                <nav class="nav">
                    <a class="nav-link mx-2 text-white" aria-current="page" href="#">Login</a>
                    <span class="p-2">|</span>
                    <a class="nav-link text-white mx-2" href="#">Signup</a>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container border p-1 mt-2 d-flex justify-content-between">
    <div>
        <!-- col-md-3 -->
<h3><span style="color: green;">Fast</span>Kart.</h3>
    </div>
    <div>
        <!-- col-md-6 -->
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-record-circle"></i></span>
                    <input type="text" class="form-control" placeholder="Your Location" aria-label="Username" aria-describedby="basic-addon1"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                  </div>
            </div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="I am searching for" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="input-group-text bg-warning text-white" id="basic-addon2"><i class="bi bi-search"></i></button>
                  </div>
            </div>
        </div>

    </div>
    <div class="cart-section">
        <!-- col-md-3 -->
        <nav class="nav d-flex justify-content-around">
            <i class="bi bi-telephone-outbound-fill"></i>
            <span>|</span>
            <i class="bi bi-cart3"></i>
            <span>|</span>
            <i class="bi bi-person-lines-fill"></i>
                     </nav>
    </div>
</div>

<!-- launching modal on button click -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>